* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, /* top left side of gradient > */ #757575, /* bottom right side of gradient > */#474947);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: #2d2c2c;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #afafaf;
    /* login text color ^*/
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #afafaf;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #65b659;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #65b659;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #65b659;
}

.login-links {
    text-align: center;
    margin-top: 20px;
}

.login-links a {
    text-decoration: none;
    color: #65b659;
    margin: 0 10px;
    font-size: 14px;
}

.login-links a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media screen and (max-width: 480px) {
    .login-box {
        padding: 20px;
    }
}
